version: '3.8'

services:
  hugo-site:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: mcmurray-tech
    restart: unless-stopped
    ports:
      - "8080:80"
    networks:
      - proxy

networks:
  proxy:
    external: true
